.backg {
    background-image: url(../images/yellowbackground.jpg);   
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover ;
    height: 40rem;
    

};







